<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<ul>
			<% messages.forEach((message) => { %>
			<li>User: <%= message.user %></li>
			<li>Message: <%= message.text %></li>
			<li>Added: <%= message.added %></li>
			<% }); %>
		</ul>
	</body>
</html>
