<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<a href="/new">
			<h3>Submit New Message</h3>
		</a>
		<ul>
			<% messages.forEach((message) => { %>
			<li>User: <%= message.username %></li>
			<li>Message: <%= message.message %></li>
			<li>Added: <%= message.created_at %></li>
			<% }); %>
		</ul>
	</body>
</html>
